<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CouchDBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KituraTodoList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_CHttpParser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CloudFoundryEnv</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CouchDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CouchDBSample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Credentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CredentialsFacebookToken</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cryptor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HeliumLogger</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Kitura</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraNet</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraSession</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraSys</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_KituraTemplateEngine</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_LoggerAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socket</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SwiftyJSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TodoList</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TodoListAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TodoListCouchDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
