swift/Packages/*
swift/.build/*
swift/.build/debug/KituraNet.build/BufferList.swiftdeps
swift/.build/build.db
swift/.build/debug/KituraSession.build/Session.swiftdeps
swift/.build/debug/CouchDB.build/master.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/Service.swiftdeps
swift/.build/debug/Kitura.build/Headers.swiftdeps
swift/.build/debug/Kitura.build/RouterHandler.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/JSONUtils.swiftdeps
swift/.build/debug/Cryptor.build/master.swiftdeps
swift/.build/debug/Kitura.build/Part.swiftdeps
swift/.build/debug/Kitura.build/InternalError.swiftdeps
swift/.build/debug/KituraSession.build/SessionState.swiftdeps
swift/.build/debug/Cryptor.build/Digest.swiftdeps
swift/.build/debug/TodoListAPI.build/TodoItem~partial.swiftmodule
swift/.build/debug/LoggerAPI.build/master.swiftdeps
swift/.build/debug/KituraSys.build/Queue.swiftdeps
swift/.build/debug/Cryptor.build/HMAC.swiftdeps
swift/.build/debug/Kitura.build/Router.swiftdeps
swift/.build/debug/KituraNet.build/master.swiftdeps
swift/.build/debug/Socket.build/master.swiftdeps
swift/.build/debug/Kitura.build/TemplatingError.swiftdeps
swift/.build/debug/Cryptor.build/StreamCryptor.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/AppEnv.swiftdeps
swift/.build/debug/KituraSession.build/RouterRequest+Session.swiftdeps
swift/.build/debug/KituraSession.build/CookieCryptography.swiftdeps
swift/.build/debug/Cryptor.build/Cryptor.swiftdeps
swift/.build/debug/Credentials.build/CredentialsPluginProtocol.swiftdeps
swift/.build/debug/KituraTemplateEngine.build/master.swiftdeps
swift/.build/debug/Cryptor.build/Status.swiftdeps
swift/.build/debug/Cryptor.build/Updateable.swiftdeps
swift/.build/debug/Kitura.build/ResponseHeadersSetter.swiftdeps
swift/.build/debug/KituraSys.build/master.swiftdeps
swift/.build/debug/TodoListAPI.swiftmodule
swift/.build/debug/Kitura.build/RouterElement.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/CloudFoundryEnvError.swiftdeps
swift/.build/debug/KituraNet.build/ServerResponse.swiftdeps
swift/.build/debug/CredentialsFacebookToken.build/master.swiftdeps
swift/.build/debug/Socket.build/SocketProtocols.swiftdeps
swift/.build/debug/KituraNet.build/ClientRequest.swiftdeps
swift/.build/debug/KituraNet.build/ClientResponse.swiftdeps
swift/.build/debug/Cryptor.build/KeyDerivation.swiftdeps
swift/.build/debug/SwiftyJSON.build/master.swiftdeps
swift/Sources/TodoList/TodoItemExtension.swift
swift/Sources/TodoListAPI/TodoItem.swift
swift/Sources/TodoList/main.swift
swift/.build/debug/CredentialsFacebookToken.build/CredentialsFacebookToken.swiftdeps
swift/.build/debug/CouchDB.build/CouchDBUtils.swiftdeps
swift/.build/debug/Socket.build/Socket.swiftdeps
swift/.build/debug/TodoListAPI.build/TodoItem.swiftdeps
swift/.build/debug/Kitura.build/StaticFileServer.swiftdeps
swift/.build/debug/Kitura.build/RouterResponse.swiftdeps
swift/.build/debug/CouchDB.build/Database.swiftdeps
swift/.build/debug/KituraNet.build/HTTP.swiftdeps
swift/.build/debug/KituraTemplateEngine.build/TemplateEngine.swiftdeps
swift/.build/debug/SwiftyJSON.build/SwiftyJSON.swiftdeps
swift/.build/debug/KituraNet.build/HTTPServer.swiftdeps
swift/.build/debug/Credentials.build/Credentials.swiftdeps
swift/.build/debug/CouchDB.build/ConnectionProperties.swiftdeps
swift/.build/debug/KituraSession.build/CookieParameter.swiftdeps
swift/.build/debug/libCHttpParser.so
swift/.build/debug/KituraSession.build/master.swiftdeps
swift/.build/debug/CouchDB.build/UsersDatabase.swiftdeps
swift/.build/debug/CouchDBSample.build/main.swiftdeps
swift/.build/debug/Kitura.build/master.swiftdeps
swift/.build/debug/TodoListAPI.build/TodoListAPI.swiftdeps
swift/.build/debug/KituraSession.build/CookieManagement.swiftdeps
swift/.build/debug/KituraNet.build/HeadersContainer.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/master.swiftdeps
swift/.build/debug/HeliumLogger.build/master.swiftdeps
swift/.build/debug/TodoListAPI.build/master.swiftdeps
swift/.build/debug/KituraNet.build/URLParser.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/DateUtils.swiftdeps
swift/.build/debug/KituraNet.build/HTTPParser.swiftdeps
swift/.build/debug/KituraNet.build/SPIUtils.swiftdeps
swift/.build/debug/Kitura.build/RouteRegex.swiftdeps
swift/.build/debug/KituraSys.build/StringUtils.swiftdeps
swift/Sources/TodoListAPI/TodoListAPI.swift
swift/.build/debug/TodoListCouchDB.build/master.swiftdeps
swift/.build/debug/HeliumLogger.build/HeliumLogger.swiftdeps
swift/Sources/TodoListCouchDB/TodoListCouchDB.swift
swift/.build/debug/KituraSession.build/InMemoryStore.swiftdeps
swift/Sources/TodoList/TodoListController.swift
swift/.build/debug/KituraNet.build/IncomingMessage.swiftdeps
swift/.build/debug/CouchDB.build/CouchDBClient.swiftdeps
swift/.build/debug/Kitura.build/RouterMiddleware.swiftdeps
swift/.build/debug/Kitura.build/Error.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/App.swiftdeps
swift/.build/debug/Kitura.build/RouterMethod.swiftdeps
swift/.build/debug/Kitura.build/ParsedBody.swiftdeps
swift/.build/debug/CouchDBSample.build/master.swiftdeps
swift/.build/debug/LoggerAPI.build/Logger.swiftdeps
swift/.build/debug/Kitura.build/ContentType.swiftdeps
swift/.build/debug/Cryptor.build/Random.swiftdeps
swift/.build/debug/Kitura.build/RouterElementWalker.swiftdeps
swift/.build/debug/Kitura.build/Kitura.swiftdeps
swift/.build/debug/KituraSys.build/SysUtils.swiftdeps
swift/.build/debug/KituraSession.build/Store.swiftdeps
swift/.build/debug/Socket.build/SocketUtils.swiftdeps
swift/Sources/TodoList/Configuration.swift
swift/.build/debug/Credentials.build/master.swiftdeps
swift/.build/debug/Kitura.build/RouterRequest.swiftdeps
swift/.build/debug/KituraNet.build/ServerRequest.swiftdeps
swift/.build/debug/Kitura.build/RouterMiddlewareGenerator.swiftdeps
swift/.build/debug/Kitura.build/BodyParser.swiftdeps
swift/.build/debug/CloudFoundryEnv.build/CloudFoundryEnv.swiftdeps
swift/.build/debug/Kitura.build/RouterMiddlewareWalker.swiftdeps
swift/.build/debug/KituraNet.build/HTTPServerSPI.swiftdeps
swift/.build/debug/TodoListAPI.build/TodoListAPI~partial.swiftmodule
swift/.build/debug/TodoListCouchDB.build/TodoListCouchDB.swiftdeps
swift/.build/debug/Cryptor.build/Utilities.swiftdeps
swift/.build/debug/TodoListAPI.build/TodoItem.swift.o
swift/KituraTodoList.xcodeproj/project.pbxproj
swift/KituraTodoList.xcodeproj/project.xcworkspace/xcuserdata/Robert.xcuserdatad/UserInterfaceState.xcuserstate
swift/KituraTodoList.xcodeproj/xcuserdata/Robert.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
